<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MovieDb (Online Filmkatalógus)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("head", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MovieDb", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li style="background-color:darkseagreen;color:white;">@Html.ActionLink("Movies", "Index", "Movies")</li>
                    <li>@Html.ActionLink("Create", "Index", "Movies/Create")</li>
                    <li style="background-color:darkkhaki;color:black;">@Html.ActionLink("Actors", "Index", "Actors")</li>
                    <li>@Html.ActionLink("Create", "Index", "Actors/Create")</li>
                    <li style="background-color:darksalmon;color:black;">@Html.ActionLink("Appearances", "Index", "Appearances")</li>
                    <li>@Html.ActionLink("Create", "Index", "Appearances/Create")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="position:fixed;bottom:0;">
            <p>&copy; @DateTime.Now.Year - MovieDb (Online Filmkatalógus)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
